.register-container-wrapper {
  position: relative;
  text-align: center;
  background-color: var(--soft-bg);
  padding: 2rem;
  min-height: 100vh;
  overflow: hidden;
}

.register-title-wrapper {
  position: absolute;
  top: 0.3rem;
  width: 100%;
  z-index: 2;
  text-align: center;
}

.register-title {
  font-family: 'Great Vibes', cursive;
  font-size: 4rem;
  letter-spacing: 1px;
  margin-top: 2rem;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 6rem; 
  flex-wrap: wrap;
  z-index: 2;
  position: relative;
  margin-top: 3rem;

}

.Animation {
  flex: 1;
  max-width: 450px;
  min-width: 300px;
}


h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.register-form {
  flex: 1;
  max-width: 400px;
  height: 500px;
  background: var(--main-bg);
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-bottom: 0.8rem;   
  font-size: 1.4rem;       
  font-weight: 600;  
}
.name-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.input-group {
  flex: 1;
}

.firstlast{
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
  width: 90%;
}
.firstlast input {
  width: 100px; 
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 1.2rem; 
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.60rem 1rem;   
  border-radius: 5px;
}

.register-btn {
  width: 25%;
  padding: 0.70rem;
  font-size: 1.2rem;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  word-break: break-word; 
}

.register-btn:hover {
  background-color: #2980b9;
}

.back{
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  letter-spacing: 1px;
}

.circles {
  position: absolute;
  border-radius: 50%;
  background: rgb(0, 75, 128);
  filter: blur(90px);
  opacity: 0.4;
  z-index: 0;
  animation: float 10s ease-in-out infinite alternate;
}

.circle1 {
  width: 140px;
  height: 190px;
  top: 10%;
  left: 10%;
  animation-delay: 0s;
}

.circle2 {
  width: 210px;
  height: 210px;
  top: 20%;
  left: 80%;
  animation-delay: 2s;
}

.circle3 {
  width: 130px;
  height: 130px;
  top: 70%;
  left: 50%;
  animation-delay: 4s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}


@media (max-width: 821px) {
  .register-title {
    font-size: 2.2rem;
  }

  .register-form {
    max-width: 100%;
  }

  .register-container {
    flex-direction: column;
    padding-top: 4rem;
  }
  
  .name-row {
    flex-direction: column;
  }
}


@media (max-width: 1014px) {
  .Animation {
    display: none;
  }

}