:root {

  --main-bg: #F7F7F7;
  --soft-bg: #F8FBFF;
  --dark-bg: #e0e0e0;
  
  --main-color: #333333;
  --soft-color: #666666;
  --dark-color: #000000;
  --button-bg:  rgba(77, 110, 205, 0.8);

  --blue-glow: rgba(173, 216, 230, 0.4);
}

body.dark {

  --main-bg: #2a3447;
  --soft-bg: #384256;
  --dark-bg: #222b3c;

  --main-color: white;
  --soft-color: #dddddd;
  --dark-color: #2a3447;
}

body {
  background-color: var(--main-bg);
  color: var(--main-color);
}
