
.unlisted-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 20px;
  max-width: 600px;
  margin: auto;
}
.unlisted-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; 
  margin-bottom: 1.2rem;
}
.unlisted-title {
  font-size: 1.8rem;
  color: #333;
  font-weight: 600;
  margin: 0;
}

.unlisted-animation {
  width: 50px;
  height: 50px;
}

.unlisted-title {
  font-size: 1.8rem;
  color: #333;
  font-weight: 600;
  margin: 0;
}

.unlisted-input {
  width: 100%;
  padding: 0.9rem 1rem;
  font-size: 1rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 1rem;
  transition: border 0.3s ease;
}

.unlisted-input:focus {
  border: 1px solid #6c63ff;
}

.unlisted-button {
  background-color: #6c63ff;
  color: #fff;
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.unlisted-button:hover {
  background-color: #574bff;
}

