.user-surprise-card {
  background: var(--soft-bg);
  padding: 0;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 322px;
  height: 652px;
  height: auto;
  margin: 1rem auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border: 2px solid rgba(77, 110, 205, 0.2);
}

.card-header-surprise {
  padding: 0.1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.card-surprise {
  max-width: 120px;   
  margin: 0.5rem auto;  
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 0.3rem;
}

.surprise-animation {
  width: 40%;            
  max-width: 100px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0.2rem;
}

.card-surprise {
  max-width: 180px; 
  margin: 1rem auto;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 0.2rem;   
}

.card-body-surprise {
  padding: 1.2rem;
  background: var(--soft-bg);
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.card-info-surprise {
  font-size: 1rem;
  color: var(--soft-color);
  display: flex;            
  align-items: center;                
}

.card-label-surprise {
  font-weight: 500;
}


.input-icon-surprise {
  width: 25px;
  height: 30px;
}